<div class="register-wrapper">
  <form class="register-box" [formGroup]="form" (ngSubmit)="submit()">

    <h2 class="title">Регистрация</h2>

    <div class="field">
      <input placeholder="Имя" formControlName="firstName" />
      <div class="error" *ngIf="
        form.controls['firstName'].touched &&
        form.controls['firstName'].hasError('required')
      ">
        Имя обязательно
      </div>
    </div>

    <div class="field">
      <input placeholder="Фамилия" formControlName="lastName" />
      <div class="error" *ngIf="
        form.controls['lastName'].touched &&
        form.controls['lastName'].hasError('required')
      ">
        Фамилия обязательна
      </div>
    </div>

    <div class="field">
      <input placeholder="Отчество" formControlName="patronymic" />
    </div>

    <div class="field">
      <input type="password" placeholder="Пароль" formControlName="password" />
      <div class="error" *ngIf="
        form.controls['password'].touched &&
        form.controls['password'].hasError('required')
      ">
        Пароль обязателен
      </div>
      <div class="error" *ngIf="
        form.controls['password'].touched &&
        form.controls['password'].hasError('minlength')
      ">
        Минимум 5 символов
      </div>
    </div>

    <button class="primary" type="submit" [disabled]="form.invalid || loading">
      {{ loading ? 'Регистрация...' : 'Зарегистрироваться' }}
    </button>

    <button class="secondary" type="button" routerLink="/auth/login">
      Назад
    </button>

    <div class="form-error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <div class="form-success" *ngIf="successMessage">
      {{ successMessage }}
    </div>

  </form>
</div>
